<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <form action="/menus/modifyName" method="post">
        <div
                class="form-group">
            <label
                    for="name">이름</label>
            <input
                    type="text" id="name" name="name" placeholder="수정할 메뉴 이름을 입력하세요.">

            <label
                    for="newName">이름</label>
            <input
                    type="text" id="newName" name="newName" placeholder="새 메뉴 이름을 입력하세요.">

        </div>
        <button type="submit">등록</button>
        <button type="button" onclick="history.back()">뒤로 가기</button>

    </form>
</div> <!-- /container -->
</body>
</html>