<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <h1>Welcome Menu Menage Page</h1>
    <p>메뉴를 고르세요.</p>
    <p>
      <a
              href="/menus/new">메뉴 추가</a>
      <a
              href="/menus/modify">메뉴 수정</a>
      <a
              href="/menus/delete">메뉴 삭제</a>
      <a
              href="/menus/showAllMenu">메뉴 조회</a>
      <a
              href="/menus/findMenu">메뉴 찾기</a>

    </p>
  </div>
</div> <!-- /container -->
</body>
</html>